.offers_section {
  background-color: var(--black);
  padding: 22px;
}

.offers_section_inner {
  display: flex;
  gap: 60px;
}

.offers_section_inner h2 {
  color: var(--smoky);
  font-size: 20px;
  font-family: 'Prosto One';
  font-weight: 400;
  cursor: pointer;
  transition: all .5s;
}

.offers_section_inner :global(h2.active):hover,
.offers_section_inner h2:hover {
  color: var(--orange);
}

.offers_section_inner :global(h2.active) {
  color: var(--white);
}

.tab_inner {
  background-color: var(--coal);
}

.slider_inner {
  padding: 56px 0 108px;
}