.header_bottom {
display: flex;
align-items: center;
justify-content: space-between;
gap: 30px;
}

@media (max-width: 860px){
	.header_bottom {
		height: var(--header-top_hight);
		}
}

@media (max-width: 762px){
	.header_bottom {
	display: none;
		}
}
