.header_bottom {
	/* position: relative;
	z-index: 70; */
	height: 88px; 
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
}

@media (max-width: 860px){
	.header_bottom {
		/* height: var(--header-top_hight); */
		display: none;
		}
}

@media (max-width: 762px){
	.header_bottom {
		}
}
