.filter_item,
.filter_item_active {
  background-color: var(--coal);
  width: 310px;
  padding: 24px;
  color: var(--white);
  border-bottom: 1px solid var(--dark-gray);
  position: relative;
  transition: var(--transition);
  cursor: pointer;
  position: relative;
}

.filter_item_active {
  border-bottom: 1px solid var(--coal);
}

.filter_item_active~.filter_item_list {
  display: flex;
  transition: display .3s;
}

.filter_item::after {
  content: '';
  background-image: url('./assets/arrow-right.png');
  transform: rotate(90deg);
  position: absolute;
  width: 24px;
  height: 24px;
  top: 22px;
  right: 24px;
}

.filter_item_active::after {
  content: '';
  background-image: url('./assets/arrow-right.png');
  transform: rotate(-90deg);
  position: absolute;
  width: 24px;
  height: 24px;
  top: 22px;
  right: 24px;
}

.filter_item:hover {
  background-color: var(--orange);
}

.filter_item_list {
  padding: 18px 24px;
  flex-direction: column;
  gap: 12px;
  display: none;
  background-color: var(--coal);
  color: var(--white);
  border-bottom: 1px solid var(--dark-gray);
}

.filter_item_list form {
  position: relative;
}

.filter_item_list form label {
  margin-left: 32px;
  cursor: pointer;
}

.filter_checkbox {
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 2px;
  transition: background-color .3s ease-in-out;
}

.filter_item_list input:checked~.checkmark {
  background-color: var(--orange);
}