.sort_bar {
    display: flex;
    justify-content: flex-end;
}

.layout {
    display: flex;
    gap: 8px;
    text-align: right;
    margin-bottom: 24px;
}

.layout p {
    margin-top: 5px;
    font-weight: bold;
}

.layout_icon {
    font-size: 22px;
    cursor: pointer;
    color: #DEDBDB;
}

.layout_icon_active {
    color: #212526;
    font-size: 22px;
    cursor: pointer;
}