.banner_item {
	position: relative;
	font-family: 'Prosto One', cursive;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	overflow: hidden;
}

.banner_item.big_image {
	min-height: 488px;
}

.banner_image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.banner_link {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 60px;
	height: 60px;
	background-color: var(--black);
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-right-radius: 5px;
	transition: all .3s;
	cursor: pointer;
}

.banner_link:hover {
	background-color: var(--orange);
}

.banner_title,
.banner_title_big {
	position: absolute;
	top: 16px;
	left: 16px;
	max-width: 90%;
	font-weight: 400;
	font-size: 20px;
	color: var(--white);
}

.banner_title_big {
	top: 32px;
	left: 32px;
	font-size: 40px;
}

.arrow {
	width: 24px;
	height: 24px;
}

@media (max-width:480px) {
	.banner_title {
		top: 10px;
		left: 10px;
		font-size: 16px;
		line-height: 16px;
	}

	.banner_title_big {
		top: 10px;
		left: 10px;
		font-size: 22px;
		line-height: 22px;
	}

	.banner_link {
		width: 30px;
		height: 30px;
	}

	.arrow {
		width: 14px;
		height: 14px;
	}
}