.checkout_page {
	background-color: var(--background);
}

.checkout_content {
	margin-top: 32px;
	background-color: var(--white);
	display: flex;
	justify-content: space-between;
}

@media (max-width: 1360px) {
	.checkout_content {
		flex-direction: column-reverse;
		align-items: center;
	}
}

@media (max-width: 480px) {
	.checkout_content {
		background-color: transparent;
	}
}