.category_item {
	padding: 24px;
	position: relative;
	border-bottom: 1px solid var(--dark-gray);
	background-color: var(--coal);
	color: var(--white);
	cursor: pointer;
	transition: background-color var(--transition);
}

.aside_subtitle:first-child {
	border-radius: 5px 5px 0 0;
}

.aside_subtitle:last-child {
	border-radius: 0 0 5px 5px;
}

.category_item::after {
	content: '';
	background-image: url('./assets/arrow-right.png');
	position: absolute;
	width: 24px;
	height: 24px;
	top: 22px;
	right: 24px;
}

.category_item:hover {
	background-color: var(--orange);
}

.category_item_list {
	padding: 30px;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 310px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 40px;
	row-gap: 20px;
	background-color: var(--white);
	opacity: 0;
	visibility: hidden;
	transition: opacity var(--transition);
}

.category_item_list li {
	white-space: nowrap;
	font-weight: 500;
	font-size: 16px;
	color: var(--black);
	transition: color var(--transition);
}

.category_item_list li:hover {
	color: var(--orange);
}

.category_item:hover .category_item_list {
	opacity: 1;
	visibility: visible;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


@media (max-width: 762px) {
	.category_item_list {}
}