.category_item {
  background-color: var(--coal);
  width: 310px;
  padding: 24px;
  color: var(--white);
  border-bottom: 1px solid var(--dark-gray);
  position: relative;
  transition: var(--transition);
  cursor: pointer;
  position: relative;
}

.category_item::after {
  content: '';
  background-image: url('./assets/arrow-right.png');
  position: absolute;
  width: 24px;
  height: 24px;
  top: 22px;
  right: 24px;
}

.category_item:hover {
  background-color: var(--orange);
}

.category_item_list {
  position: absolute;
  top: 0;
  right: -900px;
  background-color: var(--white);
  width: 900px;
  padding: 30px;
  z-index: 1;
  display: none;
  transition: var(--transition);

}

.category_item_list ul {
  background-color: #fff;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.category_item_list li {
  color: var(--black);
  font-weight: 500;
  font-size: 16px;
  transition: var(--transition);
}

.category_item_list li:hover {
  color: var(--orange);
}

.category_item:hover .category_item_list {
  display: block;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}