.call_context {
	position: relative;
	z-index: 70;
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	cursor: pointer;
	line-height: 20px;
}

.phone {
	flex-shrink: 0;
	font-size: 18px;
	transition: color var(--transition);
}

.call_context:hover .phone {
	color: var(--red);
}


.order_text {
	font-size: 14px;
	color: var(--red);
}

@media (max-width: 1360px) {
	.call_context.blocked {
		display: none;
	}
}