.select {
	padding-left: 16px;
	border: none;
	background-color: transparent;
	outline: none;
	cursor: pointer;

	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
}