.popup_profile {
	padding: 20px 140px;
	color: var(--black);
	display: flex;
	flex-direction: column;
	gap: 20px;
	font-weight: 500;
}

.popup_grate {
	display: flex;
	align-items: center;
	gap: 25px;
}

.profile_fullname {
	font-weight: 700;
	font-size: 20px;
}

.profile {
	margin-top: 10px;
	cursor: pointer;
	transition: color var(--transition);
}

.logout {
	margin-top: 20px;
	color: var(--orange);
	cursor: pointer;
	transition: color var(--transition);
}

@media (min-width: 762px) {
	.profile:hover {
		color: var(--orange);
	}

	.logout:hover {
		color: var(--red);
	}
}