.hours{
	grid-area: hours;
}

.phones {
	grid-area: phone;
  display: flex;
  flex-direction: column;
  gap: 10px;
	cursor: pointer;
}

.phone {
  font-size: 18px;
	transition: color var(--transition);
}

.order_call {
  font-size: 14px;
  color: var(--red);
}

.phones:hover{
	color:var(--red);
}