.product_item {
	background-color: var(--white);
	width: 310px;
	border-radius: 5px;
	padding: 12px;
	position: relative;
	text-align: center;
}

.top_signs {
	display: flex;
	justify-content: space-between;
	margin-bottom: 4px;
}

.add_to {
	display: flex;
}

.img_wrapper {
	/* padding: 0 0 12px; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.product_img {
	object-fit: contain;
	width: 200px;
	height: 200px;
}

.bars {
	margin-right: 8px;
}

.product_title {
	font-weight: 500;
	font-size: 16px;
	font-family: 'Raleway';
	/* margin-bottom: 12px; */
	text-align: left;
	height: 70px;
}

.color_bars {
	display: flex;
	justify-content: space-between;
	margin-bottom: 14px;
	gap: 5px;
}

.item {
	padding: 10px 0;
	width: 30%;
	cursor: pointer;
}

.bar_item {
	height: 4px;
	background-color: var(--gray);
}

.bar_item.active {
	background-color: var(--orange-light);
}

.properties {
	display: flex;
	justify-content: space-between;
}

.price_box {
	display: flex;
	gap: 10px;
	align-items: baseline;
}

.discount_price {
	font-weight: 600;
	font-size: 18px;
}

.price {
	font-weight: 500;
	font-size: 14px;
	text-decoration-line: line-through;
	color: var(--grey);
}

.in_stock {
	font-weight: 400;
	font-size: 14px;
	color: var(--green);
	margin-right: 60px;
	white-space: nowrap;
}

.stock {
	display: flex;
	gap: 4px;
	align-items: center;
}

.stock_img {
	width: 16px;
	height: 16px;
}