.product_item {
	position: relative;
	padding: 30px 8px 18px;
	text-align: center;
	width: 200px;
	height: 200px;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--white);
	border-radius: 5px;
}

.close {
	position: absolute;
	top: 12px;
	right: 12px;
	width: 24px;
	height: 24px;
	color: var(--smoky);
	cursor: pointer;
}

.img_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.product_img {
	object-fit: contain;
	width: 100px;
	height: 60px;
}

.product_title {
	font-weight: 500;
	font-family: var(--font_releway);
	font-size: 16px;
	text-align: left;
}