.order {
	padding: 30px 28px 30px 48px;
	border-radius: 5px;
	background-color: var(--white);
}

.order_info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.order_title {
	font-family: var(--font_prosto);
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 5px;
}

.date_list {
	font-family: var(--font_releway);
	font-weight: 500;
	font-size: 16px;
	display: flex;
	align-items: center;
	gap: 40px;
	color: var(--smoky);
}

.date_item {
	display: flex;
	align-items: center;
	gap: 12px;
}

.arrow {
	margin-left: 20px;
	width: 30px;
	height: 30px;
	color: var(--black);
	cursor: pointer;
	transition: transform var(--transition), color var(--transition);
}

.arrow.active {
	transform: rotateX(180deg);
}


.order_content {
	display: none;
	/*height: 0;*/
	/*transition: height var(--transition);*/

}

.order_content.active {
	display: block;
	/*height: 100%;*/
}

.order_list {
	max-height: 246px;
	overflow: auto;
	margin: 14px 0;
	padding: 0 70px 0 20px;
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.order_list::-webkit-scrollbar {
	width: 4px;
}

.order_list::-webkit-scrollbar-track {
	background-color: var(--gray);
}

.order_list::-webkit-scrollbar-thumb {
	background-color: var(--orange);
	border-radius: 15px;
}

.order_item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 500;
}

.product_img {
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.amount_info {
	display: flex;
	gap: 10px;
}

.summ {
	margin-right: 70px;
	padding: 16px 0 0 52px;
	border-top: 1px solid var(--black);
	display: flex;
	font-weight: 700;
	justify-content: space-between;
	align-items: center;
}

@media (min-width: 762px) {
	.arrow:hover {
		color: var(--orange);
	}
}