.top_header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;

  background-color: var(--dark-gray-333);
  color: var(--white);

	transition: background-color var(--transition) ; 
}

.top_header.sticky{
background-color: var(--black);
}

.top_header_inner {
  display: flex;
  align-items: center;
	gap: 60px;
  font-size: 16px;
  font-weight: 500;
}

.left_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
	gap: 40px;
  width: 100%;
  /* margin-right: 60px; */
}
.hours,
.phones{
flex-shrink: 0;
}

.phones {
  display: flex;
  flex-direction: column;
  gap: 10px;
	cursor: pointer;
}

.phone {
  font-size: 18px;
	transition: color var(--transition);
}

.order_call {
  font-size: 14px;
  color: var(--red);
}

.phones:hover{
	color:var(--red);
}

.total {
	display: flex;
  flex-direction: column;
  gap: 5px;
	flex-shrink: 0;
}

.total_text{

}
.total_summ{

}

.burger_menu{

}


@media (max-width: 1420px){
	.total{
		/* display: none; */
	}
}