.top_header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* position: fixed;/ */
	/* top: 0; */
	position: relative;
	z-index: 10;

  /* background-color: var(--dark-gray-333);
  color: var(--white); */

	/* transition: background-color var(--transition) ;  */
}

.top_header.sticky{
/* background-color: var(--black); */
}

.top_header_inner {
  /* display: flex;
  align-items: center;
	gap: 60px;
  font-size: 16px;
  font-weight: 500; */
}

.left_part {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
	gap: 40px;
  width: 100%; */
  /* margin-right: 60px; */
}


.burger_menu{
	grid-area: burger;
display: none;
}


@media (max-width: 1360px){
	
	.top_header_inner{
		/* gap:20px; */
	}

}