.form {
	padding: 0 120px;
	font-family: var(--font_prosto);
	color: var(--smoky);
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: 610px;
	overflow-y: auto;
	background-color: var(--white);
}

.form::-webkit-scrollbar {
	width: 4px;
}

.form::-webkit-scrollbar-track {
	background-color: var(--white);
}

.form::-webkit-scrollbar-thumb {
	background-color: var(--gray);
	border-radius: 15px;
}

.form_title {
	margin-top: 20px;
	color: var(--black);
	font-size: 20px;
	line-height: 24px;
}

.form_inner {
	position: relative;
	margin-top: 30px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.form_inner button {
	margin-top: 32px;
}

.error_message {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 100%;
	font-size: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
	color: var(--orange);
	transform: translateX(-50%);
	opacity: 0;
	visibility: hidden;
	transition: height var(--transition), opacity var(--transition);
}

.remember_link {
	font-size: 16px;
	color: var(--smoky);
	cursor: pointer;
	transition: color var(--transition);
}

.remember_link:hover {
	color: var(--orange);
}

.error_message.active {
	opacity: 1;
	visibility: visible;
}

.register_link {
	margin-top: 20px;
	padding-bottom: 2px;
	font-size: 12px;
	color: var(--orange);
	border-bottom: 1px solid transparent;
	cursor: pointer;
	transition: border-color var(--transition);
}

@media (min-width: 762px) {
	.register_link:hover {
		border-color: var(--orange);
	}
}

@media (max-width: 762px) {
	.form {
		padding: 0;
	}
}