.social_icon_list {
	display: flex;
	gap: 12px;
}

@media (min-width: 1600px) {
	.social_icon_list.header {
		gap: 40px;
	}
}

@media (max-width: 1360px) {
	.social_icon_list.header {
		display: none;
	}
}