.social_icon_list,
.social_icon_list.header {
	display: flex;
	gap: 12px;
}

.social_icon_list.header {
	flex-grow: 1;
	min-width: 135px;
	max-width: 180px;
	justify-content: space-between;
}

@media (max-width: 1360px) {
	.social_icon_list.header {
		display: none;
	}
}