.profile_form {
	/*padding: 25px 0 40px;
	display: flex;
	flex-direction: column;
	gap: 40px;*/
}

.update_form {
	max-width: 310px;
}

.update_title {
	font-family: var(--font_prosto);
	font-size: 20px;
	line-height: 24px;
}

.inputs_list {
	margin: 20px 0 10px;
	display: flex;
	flex-direction: column;
}

.password_rules {
	margin-top: 10px;
	font-size: 12px;
	color: var(--smoky);
}