.checkout_content {
	width: 100%;
	padding: 40px 40px 80px 40px;
}

.checkout_form {
	margin-top: 35px;
}

@media (max-width: 860px) {
	.checkout_content {
		padding: 40px 20px;
	}

	.checkout_form {
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 480px) {
	.checkout_content {
		width: 100%;
		padding: 30px 0;
	}
}