.subcategory_item {
	background-color: var(--background);
	width: 100%;
	text-align: center;
	border-radius: 5px;
}

.subcategory_img {
	padding: 44px;
	height: 290px;
}

.subcategory_title {
	background-color: var(--coal);
	color: var(--white);
	line-height: 60px;
	border-radius: 0 0 5px 5px;
	transition: all .5s;
	cursor: pointer;
}

.subcategory_title:hover {
	background-color: var(--orange);
}