.banner {
	padding: 20px 0;
	background-color: var(--dark-gray);
}

.banner_inner,
.banner_left,
.banner_right,
.small_images {
	display: flex;
	width: 100%;
	gap: 20px;
}

.small_images {
	flex-direction: column;
}

@media (max-width:1100px) {
	.banner_inner {
		flex-wrap: wrap;
		justify-content: center;
	}
}

@media (max-width:480px) {

	.banner_inner,
	.banner_right,
	.small_images {
		gap: 10px;
	}
}