.catalog_section {
  background-color: var(--background);
  padding-top: 24px;
}

.catalog_headers {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
}

.title {
  margin-top: 32px;
}

.catalog_item_title {
  color: var(--black);
  font-weight: 500;
  font-size: 18px;
  background-color: white;
  padding: 22px auto;
  text-align: center;
  height: 64px;
  align-items: center;
  line-height: 64px;
  border-radius: 5px;
  transition: all .3s;
  cursor: pointer;
}



.catalog_item_title:hover {
  background-color: var(--orange);
  color: var(--white);
}