.logo {
	position: relative;
	z-index: 10;
	flex-shrink: 0;
	width: 90px;
	cursor: pointer;
}

.header {
	position: relative;
	z-index: 70;
}


@media (max-width: 762px) {
	.logo.header {
		width: 60px;
	}
}