.comparison {
	padding-bottom: 80px;
}

.comparison_top {
	margin-top: 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pagination_list {
	display: flex;
	align-items: center;
	gap: 10px;
}

.pagination_item {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--white);
	border-radius: 50%;
	cursor: pointer;
}

.pagination_item svg {
	width: 24px;
	height: auto;
	color: var(--smoky);
	transition: color var(--transition);
}

.subcaregories_list {
	margin-top: 32px;
	display: flex;
	flex-wrap: wrap;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, minmax(250px, 323px));
	gap: 2px;
}

.subcaregories_item {
	flex-shrink: 0;
	padding: 0 10px;
	font-weight: 500;
	font-size: 18px;
	line-height: 64px;
	text-align: center;
	width: 100%;
	background-color: var(--white);
	color: var(--black);
	border-radius: 5px;
	cursor: pointer;
	transition: background-color var(--transition), color var(--transition);
}

.subcaregories_item.active {
	background-color: var(--orange);
	color: var(--white);
}

.pagination_list {
	margin-top: 32px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

.pagination_item {
	transition: background-color var(--transition);
}

.pagination_item.unavailable svg {
	color: var(--gray);
}

.comparison_image,
.comparison_cahacters {
	margin-top: 18px;
	padding-right: 20px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.comparison_image {
	gap: 18px;
}

.diff_btn {
	position: relative;
	min-width: 170px;
	text-align: left;
	flex-shrink: 0;
	font-weight: 500;
	color: var(--black);
	cursor: pointer;
	transition: color var(--transition);
}

.comparison_titles {
	min-width: 188px;
	text-align: left;
}

.comparison_title_item {
	padding: 15px 18px 15px 0;
	border-bottom: 1px solid var(--black);
}

.content_block {
	margin-top: 24px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.characters_accordeon {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
}

.characters_arrow_btn {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	transition: background-color var(--transition);
}

.arrow {
	width: 24px;
	height: auto;
	color: var(--smoky);
	cursor: pointer;
	transition: color var(--transition);
}

.characters_list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.characters_item {
	padding-bottom: 10px;
	border-bottom: 1px solid var(--smoky);
}

.character_key {
	font-weight: 700;
	text-transform: capitalize;
}

.values_list {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.product_title {
	color: var(--smoky);
}

.character_value {
	margin-top: 10px;
	font-weight: 500;
	text-align: center;
}

@media (min-width: 762px) {
	.pagination_item:focus {
		background-color: var(--gray);
	}

	.pagination_item:focus.unavailable {
		background-color: var(--white);
	}

	.pagination_item:hover svg {
		color: var(--orange);
	}

	.pagination_item:hover.unavailable svg {
		color: var(--gray);
	}

	.subcaregories_item:hover {
		background-color: var(--orange);
		color: var(--white);
	}

	.diff_btn:focus {
		text-shadow: 0 0 5px var(--black);
	}

	.arrow:hover,
	.diff_btn:hover {
		color: var(--orange);
	}

	.diff_btn:active {
		top: 1px;
	}

	.characters_arrow_btn:focus {
		background-color: var(--gray);
	}

}

@media (max-width: 860px) {
	.comparison_image {
		flex-direction: column-reverse;
	}

	.comparison_image,
	.comparison_cahacters {
		padding-right: 0;
	}

	.comparison_titles {
		display: none;
	}

	.characters_accordeon {
		margin-top: 25px;
	}

}