.tab_title {
	margin-top: 32px;
	font-weight: 600;
	line-height: 20px;
}

.data_list {
	margin-top: 32px;
	display: grid;
	grid-template-columns: repeat(2, minmax(270px, 310px));
	grid-template-rows: repeat(2, 1fr);
	gap: 24px;
}

.data_item {
	border-bottom: 1px solid var(--black);
}

.data_item label {
	font-size: 12px;
	line-height: 16px;
	color: var(--smoky);
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.data_item input {
	padding-bottom: 4px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	color: var(--black);
	background-color: transparent;
	border: none;
	outline: none;
}

.data_item_house {
	display: flex;
	justify-content: space-between;
	border: none;
}

.data_item_house input {
	max-width: 140px;
	border-bottom: 1px solid var(--black);
}

.data_item_date {
	padding-bottom: 2px;
	display: flex;
	justify-content: space-between;
}

.data_item_date div {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.data_item_date span {
	font-size: 12px;
	line-height: 16px;
	color: var(--smoky);
}

.data_item_date input,
.data_shipping input {
	opacity: 0;
	visibility: hidden;
	height: 0;
}

.calendar_link {
	padding-bottom: 4px;
	align-self: end;
	text-align: right;
	cursor: pointer;
	transition: color var(--transition);

}

@media (min-width: 762px) {

	.data_item input:focus {
		background-color: var(--background);
	}

	.calendar_link:hover {
		color: var(--orange);
	}
}

@media (max-width: 860px) {
	.data_list {
		grid-template-columns: 1fr;
		gap: 24px;
	}
}