.main_categories {
  background-color: var(--background);
  padding-top: 50px;
}

.categories_wrapper {
  display: flex;
  flex-wrap: wrap;
  /*  grid-template-columns: repeat(2, 1fr); */
}

@media (max-width:1420px) {
  .categories_wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}