.subcategory_container {
  padding: 24px 0 80px;
  background-color: var(--background);

}

.page_container {
  display: flex;
  gap: 20px;
}

.products_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.subcategory_title {
  margin: 30px 0;
}