.cart_page {
	background-color: var(--background);
	padding-bottom: 80px;
}

.cart_top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
}

.cart_empty {
	margin-top: 40px;
	font-weight: 700;
	font-style: italic;
	font-size: 32px;
	line-height: 40px;
	color: var(--red)
}

@media (max-width: 762px) {
	.cart_top {
		flex-direction: column;
		margin-bottom: 50px;
	}

	.cart_page {
		padding-bottom: 40px;
	}
}