.article_wrapper {
  background-color: #f2f5f7;
}

.article_title {
  font-size: 30px;
  margin-top: 32px;
  font-family: var(--font_prosto);
}

.top_banner {
  margin-top: 40px;
}
.top_banner img {
  width: 100%;
}

.pre_text {
  margin-top: 48px;
}
.pre_text_paragraph {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
}
.main_text {
  display: flex;
  margin-top: 39px;
  gap: 20px;
  font-size: 16px;
  line-height: 24px;
}

.main_text_left,
.main_text_right {
  flex: 1;
}

.left_block p {
  color: var(--white);
  line-height: 24px;
}
.main_text_left p {
  margin-bottom: 10px;
}

.left_block {
  margin-right: 100px;
  background-color: var(--orange);
  padding: 196px 77px;
}

.main_text_right_block {
  background-color: var(--white);
  padding: 120px 80px 140px;
  max-width: 950px;
}

.main_text_right p {
  max-width: 560px;
  margin-bottom: 10px;
}

.main_text_right img {
  padding-bottom: 60px;
}

.left_block_bottom {
  margin-top: 140px;
  color: var(--black);
  margin-right: 100px;
}

.analyze {
  background-color: var(--white);
  padding: 68px 0;
}
.analyze_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section_title {
  font-size: 20px;
  font-family: var(--font_prosto);
  margin-bottom: 12px;
}

.analyze_list {
  max-width: 960px;
}

.statistic_wrapper {
  max-width: 830px;
}

.statistic_wrapper h2 {
  margin-top: 60px;
}
.statistic_text {
  margin-bottom: 10px;
}

.statistic_table {
  margin-top: 48px;
  background-color: var(--white);
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 10px 20px;
  border-bottom: 2px solid var(--gray);
  grid-gap: 10px;
}

.row:last-child {
  border-bottom: none;
}

.head {
  font-weight: 600;
}
.bottom_wrapper {
  display: flex;
  gap: 0;
}
.bottom_left {
  padding-top: 136px;
  width: 55%;
}
.bottom_left img {
  width: 100%;
}
.bottom_right {
  background-color: var(--orange);
  color: var(--white);
  width: 45%;
}
.bottom_right_text_block {
  max-width: 475px;
  padding-top: 80px;
  padding-left: 80px;
  font-size: 16px;
  line-height: 24px;
}
.bottom_right_text_block p {
  margin-bottom: 10px;
}

@media (max-width: 1060px) {
  .left_block,
  .left_block_bottom {
    margin-right: 0;
    padding: 100px 20px;
  }
  .main_text_right_block {
    padding: 100px 20px;
  }
  .bottom_right_text_block {
    padding: 30px;
  }
}

@media (max-width: 860px) {
  .main_text {
    flex-direction: column;
  }
  .left_block_bottom {
    margin-top: 0;
  }
  .main_text {
    margin-top: 0;
  }
  .main_text_right_block p {
    max-width: none;
  }
  .bottom_wrapper {
    flex-direction: column;
    align-items: center;
  }
  .bottom_left {
    padding-top: 20px;
    width: 100%;
  }
  .bottom_right {
    width: 100%;
  }
  .bottom_right_text_block {
    max-width: none;
  }
  .statistic_table {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .article_title {
    font-size: 22px;
  }
  .statistic_table {
    font-size: 10px;
  }
}
