.article_wrapper {
  background-color: #f2f5f7;
}

.article_title {
  font-size: 30px;
  margin-top: 32px;
  font-family: var(--font_prosto);
}

.top_banner {
  margin-top: 40px;
}

.pre_text {
  margin-top: 48px;
}
.pre_text_paragraph {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
}
.main_text {
  display: flex;
  margin-top: 39px;
  gap: 20px;
  font-size: 16px;
  line-height: 24px;
}

.main_text_left,
.main_text_right {
  flex: 1;
}

.left_block p{
  color: var(--white);
  line-height: 24px;
}
.main_text_left p {
  margin-bottom: 10px;
}

.left_block {
  margin-right: 100px;
  background-color: var(--orange);
  padding: 196px 77px;
}

.main_text_right_block {
  background-color: var(--white);
  padding-top: 120px;
  padding-left: 80px;
  max-width: 950px;
  padding-bottom: 140px;
}

.main_text_right p {
  max-width: 560px;
  margin-bottom: 10px;
}

.main_text_right img{
    padding-bottom: 60px;
}

.left_block_bottom{
    margin-top: 140px;
    color: var(--black);
    margin-right: 100px;
}
