.category_controls .slick-arrow.slick-prev {
  top: -34px;
  right: 195px;
  left: unset;
}

.category_controls .slick-arrow.slick-next {
  top: -34px;
  right: 140px;
  left: unset;
}

.slick-slide>div {
  display: flex;
  justify-content: center;
}

@media (max-width: 790px) {
  .category_controls .slick-arrow.slick-prev {
    right: 55px;
  }

  .category_controls .slick-arrow.slick-next {
    right: 0;
  }

  .container .slick-slider {
    margin: 0 15px;
  }
}