.main_categories {
	background-color: var(--background);
	padding-top: 50px;
	min-height: 1640px;
}

.categories_wrapper {
	display: flex;
	flex-wrap: wrap;
}

@media (max-width:1420px) {
	.categories_wrapper {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}