.icon_container {
	background-color: var(--white);
	width: 37px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color var(--transition);
}

@media (hover: hover) {
	.icon_container:hover {
		background-color: var(--orange);
	}
}

@media (hover: none) {
	.icon_container:active {
		background-color: var(--orange);
	}
}