.header{
	position:relative;
	z-index: 10;
	top:0;
	width: 100%;
	background-color: var(--black);
	color: var(--white);
}

.header::before{
	content: "";
	position:absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--header-top_hight);
	background-color: var(--dark-gray-333);
}

@media (max-width: 762px){
	.header::before{
		display: none;
	}
}