.data_item {
	position: relative;
	overflow: hidden;
}

.data_item.courier:nth-child(1),
.data_item.courier:nth-child(3),
.data_item.courier:nth-child(6) {
	grid-column: 1/ 3;
}

.data_item.courier:nth-child(5n+2) {
	grid-column: 3/5;
}

.data_item label {
	font-size: 12px;
	line-height: 16px;
	color: var(--smoky);
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.input {
	padding-bottom: 4px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	color: var(--black);
	border: none;
	border-bottom: 1px solid var(--black);
	outline: none;
	transition: border-color var(--transition);
}

.data_item .shipping {
	position: relative;
	color: var(--white);
}

.shippinng_data {
	position: absolute;
	bottom: 4px;
	left: 0;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	color: var(--black);
}

.error {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 12px;
	background-color: var(--white);
	color: var(--orange);
	opacity: 0;
	visibility: hidden;
	transition: opacity var(--transition);
}

.input:invalid[focused="true"]~.error {
	opacity: 1;
	visibility: visible;
}

.input:invalid[focused="true"] {
	border-color: var(--orange);
}

.calendar_link {
	position: absolute;
	right: 0;
	bottom: 4px;
	cursor: pointer;
	transition: color var(--transition);
}


@media (max-width: 860px) {
	.data_item.courier:nth-child(n+1) {
		grid-column: 1/2;
	}

	.data_item input {
		background-color: transparent;
	}
}

@media (min-width: 762px) {
	.data_item input:focus {
		background-color: var(--background);
	}

	.calendar_link:hover {
		color: var(--orange);
	}
}