.brand_page {
  background-color: var(--background);
}

.page_title {
  font-size: 40px;
  font-weight: bold;
  margin: 32px 0;
}
.brand_description {
  display: flex;
  gap: 40px;
  margin-bottom: 32px;
}

.brand_image_wrapper {
  width: 310px;
  height: 160px;
  background-color: var(--white);
  border-radius: 5px;
  padding: 40px 55px;
}

.brand_image_wrapper img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.brand_subtitle {
  font-size: 30px;
  line-height: 32px;
  font-family: var(--font_prosto);
  margin-bottom: 32px;
}
