.profile_section {
	position: relative;
	background-color: var(--background);
	padding-bottom: 80px;
}

.profile_section:before {
	content: '';
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	transition: background-color var(--transition);
}

.profile_section.open.profile_section:before {
	z-index: 20;
	background-color: var(--white-opacity);
}

.profile_wrapper {
	margin-top: 24px;
}

.page_container {
	margin-top: 24px;
	position: relative;
	display: flex;
	gap: 20px;
}

.profile_aside {
	z-index: 30;
	transition: transform var(--transition);
}

.profile_content {
	border-radius: 5px;
	padding: 40px 110px 40px 50px;
	width: 100%;
	background-color: var(--white);
}

.tabs_container {
	margin-bottom: 20px;
	background-color: var(--coal);
	border-radius: 5px;
	color: var(--white)
}

.tab_item {
	padding: 26px 24px;
	cursor: pointer;
	transition: color var(--transition);
}

.tab_item:nth-child(1) {
	border-bottom: 1px solid var(--dark-gray);
}

.tab_item.active {
	color: var(--orange);
}

@media (max-width: 1360px) {
	.profile_content {
		padding: 40px 50px;
	}
}

@media (max-width: 1160px) {
	.profile_content {
		padding: 40px;
	}
}

@media (max-width: 860px) {
	/*.menu_burger {
		display: block;
	}*/

	/*.menu_burger.open svg {
		color: var(--white);
	}*/

	.profile_aside {
		position: absolute;
		transform: translateX(-150%);
	}

	.profile_aside.open {
		transform: translateX(0);
	}
}

@media (max-width: 480px) {
	.profile_content {
		padding: 0;
		background-color: transparent;
	}
}


@media (min-width: 762px) {
	.tab_item:hover {
		color: var(--orange);
	}

	/*.menu_burger:hover svg {
		color: var(--orange);
	}*/
}