.data_list {
	display: grid;
	grid-template-columns: repeat(2, minmax(270px, 310px));
	grid-template-rows: repeat(2, 1fr);
	gap: 24px;
}


.checkout_form {
	margin-top: 35px;
}


@media (max-width: 860px) {
	.data_list {
		grid-template-columns: 1fr;
		gap: 24px;
	}
}

@media (max-width: 860px) {
	.checkout_form {
		display: flex;
		flex-direction: column;
	}
}