.menu_item {
	width: var(--header-top_hight);
	height: var(--header-top_hight);
	background-color: var(--dark-gray);
	transition: all .3s;
	cursor: pointer;
}

.menu_item:hover {
	background-color: var(--orange);
}

.menu_item.login {
	background-color: var(--orange);
}

.item_link {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu_item svg {
	width: 32px;
	height: 32px;
}

.menu_item.blocked {
	display: none;
}

.icon_wrapper {
	position: relative;
}

.counter {
	position: absolute;
	top: 4px;
	right: 0;
	transform: translate(50%, -50%);
	width: 22px;
	height: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	font-size: 11px;
	line-height: 22px;
	background-color: var(--orange);
	border-radius: 50%;
	transition: background-color var(--transition);
}

.menu_item:hover .counter {
	background-color: var(--dark-gray);
}

@media (max-width: 1360px) {
	.menu_item.blocked {
		display: flex;
	}
}