.input_wrapper {
  position: relative;
  flex-grow: 1;
  justify-self: end;
  max-width: 460px;
  min-width: 250px;
  height: 52px;
  padding: 0 10px 0 60px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: var(--white);
}

.input_wrapper.content {
  display: none;
}

.search {
  border: none;
  outline: none;
  width: 100%;
}

.search_icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: var(--smoky);
  cursor: pointer;
  transition: background-color var(--transition);
}

.search_icon:hover {
  background-color: var(--orange);
}

.search_wrapper {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
}

.search_container {
  padding: 24px;
  background-color: var(--white);
  max-height: 480px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 3px;
  padding-right: 24px;
}

::-webkit-scrollbar-track {
  width: 3px;
  background-color: var(--gray);
}

::-webkit-scrollbar-thumb {
  background-color: var(--orange);
}
.search_showmore {
  background-color: var(--dark-gray);
  padding: 20px;
  text-align: center;
  border-radius: 0 0 5px 5px;
}

@media (max-width: 1360px) {
  .input_wrapper.scroll {
    display: none;
  }
}

@media (max-width: 860px) {
  .input_wrapper.content {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    justify-self: center;
  }
}
