.input_wrapper {
	position: relative;
	justify-self: end;
	max-width: 310px;
	width: 100%;
	height: 52px;
	padding: 0 10px 0 60px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	background-color: var(--white);
}

.input_wrapper.blocked{
	display: none;
	}

.search {
	border: none;
	outline: none;
	width: auto;
}


.search_icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 52px;
	height: 52px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	color: var(--smoky);
	cursor: pointer;
	transition: background-color var(--transition);
}

.search_icon:hover{
	background-color: var(--orange);
}

@media (min-width: 1600px){
	.input_wrapper {
		max-width: 460px;
	}
}

@media (max-width: 1360px){
	.input_wrapper{
		display: none;
	}
	.input_wrapper.blocked{
		display: flex;
		}
}

@media (max-width: 1160px){
	.input_wrapper.blocked{
		display: none;
	}
}