.products_list {
	margin-top: 24px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.subcategories_list {
	margin-top: 24px;
	padding: 60px 30px 0;
	display: grid;
	grid-template-columns: repeat(3, 310px);
	justify-content: center;
	gap: 20px;
	background-color: var(--white);
}

.products_list_row {
	display: flex;
	flex-direction: column;
	gap: 5px;
}