.cart_btn_bottom {
	width: 60px;
	height: 56px;
	border: 1px solid var(--orange);
	border-radius: 5px 0 5px 0;
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: background-color var(--transition);
}

.cart_btn_top {
	width: 60px;
	height: 56px;
	border: 1px solid var(--orange);
	border-radius: 0 5px 0 5px;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: background-color var(--transition);
}

.cart_btn_bottom.active,
.cart_btn_top.active {
	background-color: var(--orange);
}