.burger_menu{
	position: relative;
	z-index: 40;
	width: 30px;
	height: 22px;
	flex-shrink: 0;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
}

.burger_menu span{
	width: 100%;
	height: 2px;
	display: block;
	background-color: var(--white);
	transition: opacity var(--transition);
}

.burger_menu svg{
	position: absolute;
	top: -6px;
	left: -3px;
	width: 30px;
	height: 30px;
	opacity: 0;
	visibility: hidden;
	transition: opacity var(--transition);
}

.burger_menu.active span{
	opacity: 0;
	visibility: hidden;
}

.burger_menu.active svg{
	opacity: 1;
	visibility: visible;
}

@media (max-width: 1160px){
	.burger_menu{
	display: flex;
	}
}
